body{
    background: #ffffff;
    margin: 2%;
    font-size: 100%;
    color: #000000;
}
/* h1{
    font-variant: small-caps;
    color: #000000;
    background: #b3b3b3;
    font-size: 500%;
    margin: 4%;
    border-radius: 20px;
    border-color: bisque;
    
} */

header{
    background: hsl(0, 0%, 40%);
    text-align: center;
    padding-bottom: 15px;
    border-style:double;
    border-radius: 40px;
    background: linear-gradient(#ffffff, #00b7ea 85% );
    background: -moz- linear-gradient(#ffffff, #00b7ea 85% );
    background: -o- linear-gradient(#ffffff, #00b7ea 85% );
    background: -webkit- linear-gradient(#ffffff, #00b7ea 85% );
    font-variant:small-caps;
    color:black;
    font-size: 130%;
}

footer{
    background: #666666;
    background: linear-gradient(#666666 0%, #00b7ea 85%);
    background: -moz- linear-gradient(#666666 0%, #00b7ea 85%);
    background: -o- linear-gradient(#666666 0%, #00b7ea 85%);
    background: -webkit- linear-gradient(#666666 0%, #00b7ea 85%);
}



nav{
    font-variant: small-caps;
    font-size: 90%;
    font-family: Arial, "Time New Roman", serif;
    padding: 10px;
    
}
a:hover{
background-color: #ffffff;
}
nav a{
    color: #000000dc;
    width: 22%;
    display: inline-block;
    background: #1fd6beb1;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
}

.half{
    width: 45%;
    margin-right: 2%;
    float: left;
     
}
.whole{
    clear:both;
}
h3{
    color:#000000;
    background: linear-gradient(#ffffff, #00b7ea 75% );
    background: -moz- linear-gradient(#ffffff, #00b7ea 75% );
    background: -o- linear-gradient(#ffffff, #00b7ea 75% );
    background: -webkit- linear-gradient(#ffffff, #00b7ea 75% );
    border-radius: 50px;
    text-align: center;
    font-style:normal;
    font-family: Arial, "Time New Roman", serif;
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
    font-family: Arial, "Time New Roman", serif;
}

footer{
    height: 100px;
    clear:both;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 40px;
}
a{
    text-decoration: none;
    color: #ff0000;

}
img{
    /* width: 250px;
    height: 550px; */
    
    
    border-radius: 10px;
    margin: 4px 4px;
}
footer p{
    color:#ffffff;
    font-family: Arial, "Time New Roman", serif;
    padding: 20px;
}